[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyTimer"]
	path = shinyTimer
	url = https://github.com/maciekbanas/shinytimer
